USE [CineDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/12/2025 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pelicula]    Script Date: 12/12/2025 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[duracion] [int] NULL,
	[eliminado] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [PK_pelicula] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pelicula_salacine]    Script Date: 12/12/2025 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula_salacine](
	[id_pelicula_sala] [int] IDENTITY(1,1) NOT NULL,
	[id_sala_cine] [int] NOT NULL,
	[fecha_publicacion] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[id_pelicula] [int] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [PK_pelicula_salacine] PRIMARY KEY CLUSTERED 
(
	[id_pelicula_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sala_cine]    Script Date: 12/12/2025 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sala_cine](
	[id_sala] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[estado] [tinyint] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [PK_sala_cine] PRIMARY KEY CLUSTERED 
(
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/12/2025 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pelicula] ADD  CONSTRAINT [DF_pelicula_eliminado]  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[pelicula] ADD  CONSTRAINT [DF_pelicula_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[pelicula_salacine] ADD  CONSTRAINT [DF_pelicula_salacine_eliminado]  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[pelicula_salacine] ADD  CONSTRAINT [DF_pelicula_salacine_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sala_cine] ADD  CONSTRAINT [DF_sala_cine_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[sala_cine] ADD  CONSTRAINT [DF_sala_cine_eliminado]  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[sala_cine] ADD  CONSTRAINT [DF_sala_cine_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[pelicula_salacine]  WITH CHECK ADD  CONSTRAINT [FK_pelicula_salacine_pelicula] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[pelicula] ([id_pelicula])
GO
ALTER TABLE [dbo].[pelicula_salacine] CHECK CONSTRAINT [FK_pelicula_salacine_pelicula]
GO
ALTER TABLE [dbo].[pelicula_salacine]  WITH CHECK ADD  CONSTRAINT [FK_pelicula_salacine_sala_cine] FOREIGN KEY([id_sala_cine])
REFERENCES [dbo].[sala_cine] ([id_sala])
GO
ALTER TABLE [dbo].[pelicula_salacine] CHECK CONSTRAINT [FK_pelicula_salacine_sala_cine]
GO
ALTER TABLE [dbo].[pelicula]  WITH CHECK ADD  CONSTRAINT [CK_pelicula_duracion_pos] CHECK  (([duracion] IS NULL OR [duracion]>(0)))
GO
ALTER TABLE [dbo].[pelicula] CHECK CONSTRAINT [CK_pelicula_duracion_pos]
GO
ALTER TABLE [dbo].[pelicula_salacine]  WITH CHECK ADD  CONSTRAINT [CK_pelicula_salacine_fechas] CHECK  (([fecha_fin] IS NULL OR [fecha_fin]>=[fecha_publicacion]))
GO
ALTER TABLE [dbo].[pelicula_salacine] CHECK CONSTRAINT [CK_pelicula_salacine_fechas]
GO
/****** Object:  StoredProcedure [dbo].[usp_disponibilidad_sala_cine_por_nombre]    Script Date: 12/12/2025 23:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_disponibilidad_sala_cine_por_nombre]
    @nombre_sala NVARCHAR(120)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @id_sala INT;

    SELECT TOP (1)
        @id_sala = s.id_sala
    FROM dbo.sala_cine s
    WHERE s.nombre = @nombre_sala
      AND s.eliminado = 0;

    IF @id_sala IS NULL
    BEGIN
        SELECT
            CAST(NULL AS INT) AS id_sala,
            @nombre_sala AS nombre_sala,
            CAST(0 AS INT) AS total_peliculas,
            N'Sala no existe' AS mensaje;
        RETURN;
    END

    DECLARE @total INT;

    SELECT
        @total = COUNT(DISTINCT ps.id_pelicula)
    FROM dbo.pelicula_salacine ps
    INNER JOIN dbo.pelicula p
        ON p.id_pelicula = ps.id_pelicula
       AND p.eliminado = 0
    WHERE ps.id_sala_cine = @id_sala
      AND ps.eliminado = 0;

    DECLARE @mensaje NVARCHAR(200);

    IF (@total < 3)
        SET @mensaje = N'Sala disponible';
    ELSE IF (@total BETWEEN 3 AND 5)
        SET @mensaje = CONCAT(N'Sala con ', @total, N' películas asignadas');
    ELSE
        SET @mensaje = N'Sala no disponible';

    SELECT
        @id_sala AS id_sala,
        @nombre_sala AS nombre_sala,
        @total AS total_peliculas,
        @mensaje AS mensaje;
END
GO

/* ============================
   DATOS DE PRUEBA (SEED DATA)
   ============================ */
USE [CineDb];
GO

/* Limpieza opcional (por si se ejecuta varias veces) */
DELETE FROM dbo.pelicula_salacine;
DELETE FROM dbo.pelicula;
DELETE FROM dbo.sala_cine;
DELETE FROM dbo.[users];
GO

/* 1) Usuario (login) */
INSERT INTO dbo.[users] (user_name, email, [password], estado, eliminado, created_at, updated_at)
VALUES
('admin', 'admin@cine.local', 'Admin123*', 1, 0, SYSUTCDATETIME(), NULL);
GO

/* 2) Salas (3) */
INSERT INTO dbo.sala_cine (nombre, estado, eliminado, created_at, updated_at)
VALUES
('Sala 1', 1, 0, SYSUTCDATETIME(), NULL),
('Sala 2', 1, 0, SYSUTCDATETIME(), NULL),
('Sala 3', 1, 0, SYSUTCDATETIME(), NULL);
GO

/* 3) Películas (3) */
INSERT INTO dbo.pelicula (nombre, duracion, eliminado, created_at, updated_at)
VALUES
('Interstellar', 169, 0, SYSUTCDATETIME(), NULL),
('Inception', 148, 0, SYSUTCDATETIME(), NULL),
('The Matrix', 136, 0, SYSUTCDATETIME(), NULL);
GO

/* 4) Asignaciones pelicula_salacine (3)
      - Nota: se insertan usando búsqueda de IDs por nombre para no depender de identity exacto.
*/
INSERT INTO dbo.pelicula_salacine
(id_sala_cine, fecha_publicacion, fecha_fin, id_pelicula, eliminado, created_at, updated_at)
SELECT s.id_sala, CAST('2025-12-01' AS date), CAST('2025-12-31' AS date), p.id_pelicula, 0, SYSUTCDATETIME(), NULL
FROM dbo.sala_cine s
JOIN dbo.pelicula p ON p.nombre = 'Interstellar'
WHERE s.nombre = 'Sala 1';
GO

INSERT INTO dbo.pelicula_salacine
(id_sala_cine, fecha_publicacion, fecha_fin, id_pelicula, eliminado, created_at, updated_at)
SELECT s.id_sala, CAST('2025-12-05' AS date), CAST('2026-01-10' AS date), p.id_pelicula, 0, SYSUTCDATETIME(), NULL
FROM dbo.sala_cine s
JOIN dbo.pelicula p ON p.nombre = 'Inception'
WHERE s.nombre = 'Sala 2';
GO

INSERT INTO dbo.pelicula_salacine
(id_sala_cine, fecha_publicacion, fecha_fin, id_pelicula, eliminado, created_at, updated_at)
SELECT s.id_sala, CAST('2025-12-10' AS date), NULL, p.id_pelicula, 0, SYSUTCDATETIME(), NULL
FROM dbo.sala_cine s
JOIN dbo.pelicula p ON p.nombre = 'The Matrix'
WHERE s.nombre = 'Sala 3';
GO

/* Validación rápida (opcional) */
SELECT * FROM dbo.[users];
SELECT * FROM dbo.sala_cine;
SELECT * FROM dbo.pelicula;
SELECT * FROM dbo.pelicula_salacine;
GO

/* Probar SP (opcional) */
EXEC dbo.usp_disponibilidad_sala_cine_por_nombre @nombre_sala = N'Sala 1';
GO
